<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

</head>

<body>
    <a href="/">
        <h3>Test Board</h3>
    </a>
    <h4>
        Login
    </h4>
    <label for="userID">ID </label><input type="text" id="userID">
    <br>
    <label for="userPW">PW </label><input type="password" id="userPW">
    <br>
    <input id="login" type="button" value="Login">
    <input id="signup" type="button" onclick="location.href='/signup'" value="signup">
</body>

</html>