<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <a href="/">
        <h3>Test Board</h3>
    </a>
    <h4>Sign Up</h4>
    <label for="userID">ID </label><input type="text" id="userID" name="id">
    <span id="id-check"></span>
    <br>
    <label for="userPW">PW </label><input type="password" id="userPW" name="pw" minlength="4">
    <br>
    <label for="userPW2">PW 확인</label><input type="password" id="userPW2" name="PW2" minlength="4">
    <br>
    <label for="userName">닉네임</label><input type="text" id="userName" name="name">
    <span id="name-check"></span>
    <br>
    <input type="button" id="submit" value="회원가입">
</body>

</html>